.input-container{
    position: relative;
    font-weight: var(--font-weigth-input);
    display: flex;
    flex-direction: column;
    width: 100%;
   

}

.form-container{

    flex-grow: 1;
}



@media screen and(min-width:1440px){

}
