.a-ul{
    display: flex;
    width: auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    gap: 1rem;
    align-items: center;
}

.a-ul__li{
    display: flex;
    justify-content: flex-start;
    flex-grow: 1;
    gap: 0.3rem;
}


.a-ul__li--hidden{
    display: none;
    
}

.a-ul__li--weigth-700{
    font-weight: 700;
}


.a-ul__li--img{
    display: flex;
    justify-content: center;
    background-color: white;
    height: 118px;
    
}



@media screen and (min-width:768px) {

    .a-ul{
        display: flex;

        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        gap: 1rem;
    }
    .a-ul--weigth-500{
        font-weight: 500;
    }

    .a-ul__li--primary-color{

        width: 60%;
    }
}

@media screen and (min-width:1440px) {

    .a-ul__li{
        display: flex;
    }

    
}
